{%extends "base.html"%}
{% block title %}Home Page{%endblock%}
{%block content%}
    <div style = "margin-left = 100px;">
        <form style = "margin-left:200px;margin-top:200px;text-align:left;display:flex;align-items:center;"action = "#" method= "post">
            <label style = "font-size:50px;;" for = "">Experience years:</label>
            <input style = "font-size : 30px;margin-left:20px;" type = "text" name = "name"></input>
            <button style = "margin-left:20px;height:45px;border radius: 4px;padding:10px 5px 10px 5px;width:100px;" type = "submit" >Submit</button>
        </from>
    </div>
{% endblock %}